<ion-content>
  <ion-header>
    <div class="ion-toolbar">
      <ion-toolbar class="custom">
        <ion-title>Ficha Médica</ion-title>
        <ion-buttons slot="start">
          <!-- Botão com seta para a direita -->
          <ion-button routerLink="/home">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </ion-header>

  <div class="container">
    <div class="card">
      <h2>Informações Médicas</h2>
      <p><strong>Tipo Sanguíneo:</strong> O+</p>
      <p><strong>Altura:</strong> 1.75m</p>
      <p><strong>Peso:</strong> 70kg</p>
      <p><strong>Sexo:</strong> Masculino</p>
      <p><strong>Idade:</strong> 29 anos</p>
      <p><strong>Alergias:</strong> Nenhuma</p>
      <p><strong>Condições Pré-Existentes:</strong> Hipertensão</p>
      <p><strong>Contato de Emergência:</strong> (11) 99999-9999</p>
    </div>
  </div>
</ion-content>
