<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Bem-vindo a Seguivida</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        O aplicativo criado em <strong>Ionic</strong> tem como objetivo
        principal simplificar o processo de
        <strong>agendamentos hospitalares proximos</strong>. <br /><br />
        Com uma interface dinâmica e acessível, ele permite:
        <ul>
          <li>Agendar consultas e exames médicos de forma prática.</li>
          <li>
            Utilizar um sistema responsivo adaptado para celulares e desktops.
          </li>
        </ul>
        Este sistema torna a gestão de atendimentos hospitalares mais eficiente
        e acessível para todos.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
