<ion-content>
  <div id="header">
    <div id="app-bar"></div>

    <img class="img" src="../../assets/seguivida-logo.jpg" />
  </div>
  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Bem Vindo a seguivida.</h1>
      <p>Seu aplicativo de saude.</p>
      <ion-button expand="block" routerLink="/login">Entrar</ion-button>
      <ion-button expand="block" routerLink="/register" fill="outline"
        >Cadastra-se</ion-button
      >
      <div class="line-text">
        <span class="lines"></span>
        <span class="text">Ou conecte-se Usando</span>
      </div>
      <div class="socials">
        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
