// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-new: #7972e6;
  --ion-color-new-rgb: 121, 114, 230;
  --ion-color-new-contrast: #ffffff;
  --ion-color-new-contrast-rgb: 0, 0, 0;
  --ion-color-new-shade: #6a64ca;
  --ion-color-new-tint: #8680e9;
}
