.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

ion-card {
  border-radius: 12px;
}

ion-card-content {
  color: white;
  text-align: left;
}

ion-header ion-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-avatar {
  margin-left: 10px;
}

.custom {
  --background: #2ff3f3;
  border-radius: 0px 0px 20px 20px;
}

/* Cor do Menu */
.cor {
  --background: #2ff3f3;
}

ion-menu {
  --background: #f7f7f7;
}

ion-item {
  --border-color: #dcdcdc;
  font-size: 16px;
  font-weight: 500;
}

ion-icon {
  font-size: 20px;
  color: #333;
}

ion-toolbar {
  --color: #333;
}

ion-title {
  font-weight: bold;
}

.logout {
  color: red;
}
