.custom-header {
  --background: #2ff3f3;
  color: #424949;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.custom-button {
  --background: #3498db;
  --color: black;
  font-size: 18px;
  height: 80px; /* Ajuste de altura para ficar semelhante aos blocos */
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button ion-icon {
  font-size: 28px;
  margin-right: 8px;
}

.ion-padding {
  --background: #f8f9f9;
}

.menu-header {
  background-color: #f4f4f4;
  padding: 16px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-text h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
}

.user-text p {
  margin: 0;
  font-size: 14px;
  color: #6b6b6b;
}

.menu-content {
  --ion-background-color: #ffffff;
}

ion-item {
  --padding-start: 12px;
  --inner-padding-end: 12px;
  font-size: 16px;
}

ion-icon {
  color: #4a4a4a;
  font-size: 22px;
}

.logout {
  margin-top: 20px;
  font-weight: bold;
  color: #e53935;
}
